* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background-color: rgb(249, 249, 249);
}

.nav {
  height: 70px;
  background-color: rgb(240, 240, 240);
  border-bottom: 0.5px solid rgb(208, 208, 208);
  display: flex;
  align-items: center;
  padding: 0px 40px;
  /* background-color: #3030fb; */
  justify-content: space-between;
}

.logo {
  display: flex;
  svg {
    width: 20px;
    color: #fff;
    color: #3030fb;
  }

  h2 {
    font-size: 18px;
    margin-left: 5px;
    font-weight: 500;
    color: #fff;
    color: #3030fb;
  }
}

.nav-items {
  display: flex;

  li{
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.3s ease-in;
    font-size: 15px;

    svg {
      width: 20px;
      color: #2e2e2e;
    }
  }

  li:hover {
    color: #3030fb;

    svg {
        color: #3030fb;
    }
  }
}

button {
  width: 100px;
  height: 35px;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #3030fb;
  color: #fff;
}

.emp-container {
  /* height: 100vh; */
  /* background-color: rgb(249, 249, 249); */
  padding: 0px 40px;
}
.emp-header-container {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;

  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.toggle-view {
  height: 35px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #7d7d7d;
  background-color: #fff;
  padding: 2px;

  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;

    svg {
      width: 14px;
      margin-right: 4px;
    }
  }

  .selected-view {
    background-color: #3030fb;
    color: #fff;
  }
}

.table-name {
  display: flex;
  align-items: center;
  gap: 10px;

  .profile {
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.scrollable-container {
   width: 100%;
   height: 76vh !important;
   overflow-y: scroll;
}
.scrollable-container::-webkit-scrollbar {
  width: 4px; /* Very thin scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #ececec; 
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #ececec;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.grid-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 0.5px solid #a2a2a2;
  height: 270px;
  padding: 10px 10px 12px 10px;
  background-color: #ffffff;
  cursor: pointer;
}


.card-content {
  height: 82%;
  border-bottom: 0.5px solid #dbdbdb;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #dbdbdb;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-name {
  font-size: 15px;
  font-weight: 500;
}

.user-role {
  font-size: 12px;
}

.more-option {
  width: 20px;
  cursor: pointer;
}

.view-detail-btn {
  width: 150px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;

  svg {
    width: 15px;
    margin-left: 10px;
  }
}

.card-btn {
  display: flex;
  justify-content: flex-start;
}
.card-content-box {
  padding: 10px;
}
.card-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding:3px 0px;

  .item-circle {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.5px solid #dbdbdb;
    margin-right: 5px;
  }

  svg {
    width: 15px;
  }
  span {
    color:#3030fb;
  }
}

.ant-table-cell {
  font-size: 13px !important;
  cursor: pointer;
}
.detail-view-container {
  height: 500px;
  border: 0.5px solid #dbdbdb;
  position: relative;
}

.emp-banner {
  height: 100px;
  border-bottom: 0.5px solid #dbdbdb;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.emp-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.5px solid #dbdbdb;
  position: absolute;
  background-color: #000;
  z-index: 999;
  top: 50px;
  left: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
  }
}

.emp-tech-role {
  height: 28px;
  width: 180px;
  border-radius: 30px;
  position: absolute;
  top: 110px;
  right: 10px;
  border: 0.5px solid #3030fb;
  background-color: #f9f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 13px;
}

.emp-content {
  padding: 0px 10px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap:10px;
}

.emp-content-item {
  height: 50px;
  border: 0.5px solid #dbdbdb;
  padding: 4px 7px 0px 7px;

  p{
    font-size: 12px;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
  }
}
